# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import scipy.stats as st
from scipy.stats import linregress
import os
import gmaps
from dotenv import load_dotenv
load_dotenv()


# Import API key

API_KEY = os.getenv('g_key')

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [55]:
df = pd.read_csv("../output_data/cities.csv")
df.set_index('City')
df=df.drop(columns=['Unnamed: 0'])
df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Esperance,73,AU,1584314613,93,-33.87,121.90,64.40,5.82
1,Port Elizabeth,75,ZA,1584314989,93,-33.92,25.57,62.60,4.70
2,Broken Hill,0,AU,1584315019,37,-31.95,141.43,68.00,13.87
3,Qaanaaq,100,GL,1584314549,61,77.48,-69.36,-3.80,7.52
4,Manokwari,100,ID,1584314629,69,-0.87,134.08,76.86,2.35

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [99]:
humidity = df["Humidity"].astype(float)
maxhumidity = humidity.max()
locations = df[["Lat", "Lng"]]

In [102]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=maxhumidity,point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows with null values.

In [58]:
filter_city_df = df.loc[(df["Max Temp"] > 70) & (df["Max Temp"] < 80) & (df['Wind Speed']<10) & (df["Cloudiness"] == 0), :]
filter_city_df = filter_city_df.dropna(how='any')
filter_city_df.reset_index(inplace=True)
del filter_city_df['index']
filter_city_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,La Trinidad,0,PH,1584315059,65,16.45,120.59,76.19,0.92
1,Alice Springs,0,AU,1584315072,18,-23.70,133.88,73.40,9.17
2,Port Augusta,0,AU,1584315423,56,-32.50,137.77,71.01,1.12
3,General Roca,0,AR,1584315429,27,-39.03,-67.58,77.00,4.70

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [77]:

hotellist = []

for i in range(len(filter_city_df)):
    lat = filter_city_df.loc[i]['Lat']
    lng = filter_city_df.loc[i]['Lng']

    params = {
        "location": f"{lat},{lng}",
        "radius": 100000,
        "types" : "hotel",
        "key": API_KEY
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotellist.append(jsn['results'][0]['name'])
    except:
        hotellist.append("")
filter_city_df["Hotel Name"] = hotellist


filter_city_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,La Trinidad,0,PH,1584315059,65,16.45,120.59,76.19,0.92,Baguio
1,Alice Springs,0,AU,1584315072,18,-23.70,133.88,73.40,9.17,Alice Springs
2,Port Augusta,0,AU,1584315423,56,-32.50,137.77,71.01,1.12,Port Augusta
3,General Roca,0,AR,1584315429,27,-39.03,-67.58,77.00,4.70,General Roca

In [92]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in filter_city_df.iterrows()]
locations = filter_city_df[["Lat", "Lng"]]

In [93]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))